<div class="mob-menu" data-mobyl>
  <div class="mob-logo-btncloce">
    <a href="./index.html" class="mob-logo-link">
      <img src="./img/svg/logo.svg" class="mob-logo-img" />
      <span class="mob-logo-text">thewatchspot</span>
    </a>
    <button type="button" class="menu-btn-close" data-mobyl-close>
      <svg class="menu-btn-icon-close">
        <use href="./img/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <ul class="mob-burger-list">
    <li><a href="./index.html" class="mob-list-link">About us</a></li>
    <li><a href="./index.html" class="mob-list-link">Catalog</a></li>
    <li><a href="./index.html" class="mob-list-link">Sale</a></li>
  </ul>
</div>