<section class="section catalog">
  <div class="container">
    <h2 class="catalog-main-headline">Catalog</h2>
    <ul class="catalog-card-list">
      <li class="catalog-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_01.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_01.jpg 1x, ../img/mobile_catalog_01@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Tube Watch S42 Date Steel With Black</p>
          <span class="overflow-preise">€395</span>
        </div>
      </li>
      <li class="catalog-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_02.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_02.jpg 1x, ../img/mobile_catalog_02@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Avondale Watch Police For Men</p>
          <span class="overflow-preise">€800</span>
        </div>
      </li>
      <li class="catalog-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_03.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_03.jpg 1x, ../img/mobile_catalog_04@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Diver 300M Co‑Axial Master</p>
          <p class="overflow-preise">€600</p>
        </div>
      </li>
      <li class="catalog-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_04.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_04.jpg 1x, ../img/mobile_catalog_04@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Diver 300M Co‑Axial Master</p>
          <p class="overflow-preise">€1400</p>
        </div>
      </li>
      <li class="catalog-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_05.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_05.jpg 1x, ../img/mobile_catalog_05@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Taman Watch By Police For Men</p>
          <p class="overflow-preise">€500</p>
        </div>
      </li>
      <li class="catalog-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_06.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_06.jpg 1x, ../img/mobile_catalog_06@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Malawi Watch Police For Men</p>
          <p class="overflow-preise">€555</p>
        </div>
      </li>
      <li class="catalog-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_07.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_07.jpg 1x, ../img/mobile_catalog_07@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Diver 300M Co-Axial Master</p>
          <p class="overflow-preise">€1200</p>
        </div>
      </li>
      <li class="catalog-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_08.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_08.jpg 1x, ../img/mobile_catalog_08@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Greenlane Watch By Police For Men</p>
          <p class="overflow-preise">€1000</p>
        </div>
      </li>
      <li class="catalog-card catalog-hidden-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_09.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_09.jpg 1x, ../img/mobile_catalog_09@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Squardrc 5402 Chrono</p>
          <p class="overflow-preise">€359</p>
        </div>
      </li>
      <li class="catalog-card catalog-hidden-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_010.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_010.jpg 1x, ../img/mobile_catalog_010@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Diver 300M Co‑Axial Master</p>
          <p class="overflow-preise">€400</p>
        </div>
      </li>
      <li class="catalog-card catalog-hidden-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_011.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_011.jpg 1x, ../img/mobile_catalog_011@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Citizen</p>
          <p class="overflow-preise">€519</p>
        </div>
      </li>
      <li class="catalog-card catalog-hidden-card">
        <div class="img-front">
          <img
            src="../img/mobile_catalog_012.jpg"
            alt="clock"
            srcset="../img/mobile_catalog_012.jpg 1x, ../img/mobile_catalog_012@2x.jpg x2"
            width="275"
          />
        </div>
        <div class="overflow-back">
          <h3 class="overflow-headline">Description</h3>
          <p class="overflow-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch.
          </p>
          <h3 class="overflow-headline">DETAILS & FEATURESTION</h3>
          <ul class="detales-list">
            <li class="detales-paragraph">
              <p class="overflow-text">Gender: man</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Size: 46x54.5mm</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Colour: Steel</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Case Material: Metal</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Features: Multifunction</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Water Resistant: 5 (ATM)</p>
            </li>
            <li class="detales-paragraph">
              <p class="overflow-text">Band Colour: Steel</p>
            </li>
          </ul>
        </div>
        <div class="overflow-text-container">
          <p class="overflow-text">Armani Exchange</p>
          <p class="overflow-preise">€400</p>
        </div>
      </li>
    </ul>
    <div class="button-container">
      <button class="catalog-button" type="button" data-modal-open>
        BUY NOW
      </button>
    </div>
  </div>
</section>
