<footer class="section footer">
    <div class="container foot-info">
        <div class="foot-logo">
            <a href="" class="logo">logo</a>
            <div class="footer-contact-address">
                <address class="footer-address">
                    <ul class="footer-address-nav list">
                        <li class="foot-item telephone"><a href="tel:+380684439426" class="ping">+380 (68) 443-94-26</a>
                        <li class="foot-item"><a href="" class="ping">1678 S. Pioneer Road
                                Salt Lake City
                                UT 84104</a></li>
                        </li>
                    </ul>
                </address>
            </div>
        </div>
        <div class="footer-menu">
            <nav class="footer-nav">
                <ul class="footer-site-nav list">
                    <li class="foot-chapter"><a href="" class="foot-link">About Us</a></li>
                    <li class="foot-chapter"><a href="" class="foot-link">Catalog</a></li>
                    <li class="foot-chapter"><a href="" class="foot-link">Sale</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-social-links">
            <ul class="footer-social-list">
                <li class="footer-social-item">
                    <a href="" class="foot-link-back">
                        <svg class="foot-link-sign" width="44px" height="44px">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="" class="foot-link-back">
                        <svg class="foot-link-sign" width="44px" height="44px">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a href="" class="foot-link-back">
                        <svg class="foot-link-sign" width="44px" height="44px">
                            <use href=""></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-text">
            <ul class="footer-desc">
                <li class="footer-desc-item">©2022 The Watch Spot. All rights reserved.</li>
                <li class="footer-desc-item">Privacy Policy</li>
                <li class="footer-desc-item">Terms of Service</li>
            </ul>
        </div>
    </div>
</footer>