<section class="hero-section">
  <div class="container">
    <div class="hero-flex">
      <h1 class="hero-title">Welcome to our collection of premium watches</h1>

      <div class="hero-flex-wrapper">
        <div class="heroSwiper hero-swiper">
          <div class="hero-swiper-slide">
            <picture>
              <source
                srcset="./img/tablet_slider_01@2x.jpg 2x"
                src="./img/tablet_slider_01.jpg"
                media="(min-width: 758px)"
              />
              <img
                class="swiper-image"
                srcset="./img/mobile_slider_01@2x.jpg 2x"
                src="./img/mobile_slider_01.jpg"
                alt=""
              />
            </picture>
          </div>
        </div>

        <div class="hero-swiper-buttons">
          <div class="hero-swiper-button swiper-left">
            <svg class="hero-swiper-button-icon">
              <use href="./img/svg/sprite.svg#icon-left"></use>
            </svg>
          </div>
          <div class="hero-swiper-button swiper-right">
            <svg class="hero-swiper-button-icon">
              <use href="./img/svg/sprite.svg#icon-right"></use>
            </svg>
          </div>
        </div>

        <div class="hero-swiper-counter">
          <p class="hero-current-swiper-slide">01</p>
          <p class="hero-total-swiper-slides">05</p>
        </div>
      </div>

      <p class="hero-paragraph">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>

      <img
        srcset="./img/desctop_hero@2x.jpg 2x"
        src="./img/desctop_hero.jpg"
        alt=""
        class="hero-picture"
      />
    </div>
  </div>
</section>
