<section class="section new-watches-section">
  <div class="new-watches-container">
    <h2 class="new-watches-title">New watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <img
          class="new-watches-img"
          srcset="
            ./img/mobile_new_watch_green.jpg   1x,
            ./img/mobile_new_watch_green@2x.jpg 2x
          "
          src="./img/mobile_new_watch_green.jpg"
          alt="green-watch"
          width="335"
          height="260"
        />
      </li>
      <li class="new-watches-item">
        <img
          class="new-watches-img"
          srcset="
            ./img/mobile_new_watch_black.jpg   1x,
            ./img/mobile_new_watch_black@2x.jpg 2x
          "
          src="./img/mobile_new_watch_black.jpg"
          alt="black-watch"
          width="335"
          height="260"
        />
      </li>
    </ul>
  </div>
</section>
