<section class="section new-watches-section">
  <div class="new-watches-container">
    <h1 class="new-watches-title">New watches</h1>
    <h2 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h2>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <!-- <img
          srcset="
            ./img/mobile_new_watch_green.jpg   375w,
            ./img/tablet_new_watch_green.jpg   768w,
            ./img/desctop_new_watch_green.jpg 1024w
          "
          sizes="100vw"
          src="./img/mobile_new_watch_green.jpg"
          alt="Опис зображення для всіх версій"
        /> -->
        <img
          class="new-watches-img"
          srcset="
            ./img/mobile_new_watch_green.jpg   1x,
            ./img/mobile_new_watch_green2x.jpg 2x
          "
          src="./img/mobile_new_watch_green.jpg"
          alt="green-watch"
          width="335"
          height="260"
        />
      </li>
      <li class="new-watches-item">
        <!-- <img
          srcset="
            ./img/mobile_new_watch_black.jpg  335w,
            ./img/tablet_new_watch_black.jpg  342w,
            ./img/desctop_new_watch_black.jpg 576w
          "
          sizes="335px"
          src="./img/mobile_new_watch_black.jpg"
          src="photo-300.jpg"
          alt="Опис зображення для всіх версій"
        /> -->
        <img
          class="new-watches-img"
          srcset="
            ./img/mobile_new_watch_black.jpg   1x,
            ./img/mobile_new_watch_black2x.jpg 2x
          "
          src="./img/mobile_new_watch_black.jpg"
          alt="black-watch"
          width="335"
          height="260"
        />
      </li>
    </ul>
  </div>
</section>
