<section class="sale section container">
    <h2 class="sale-titel">Sale</h2>
    <div class="sale-img-desctop">
        <div class="sale-img">
            <ul class="sale-list-img">
                <li class="sale-list-item-img test"></li>
                <li class="sale-list-item-img"><img
                        srcset="./img/mobile_sale_small_02.jpg 1x, ./img/mobile_sale_small_02@2x.jpg 2x "
                        src="./img/mobile_sale_small_02.jpg" alt=""></li>
                <li class="sale-list-item-img"><img
                        srcset="./img/mobile_sale_small_03.jpg 1x, ./img/mobile_sale_small_03@2x.jpg 2x"
                        src="./img/mobile_sale_small_03.jpg" alt=""></li>
                <li class="sale-list-item-img"><img
                        srcset="./img/mobile_sale_small_04.jpg 1x, ./img/mobile_sale_small_04@2x.jpg 2x"
                        src="./img/mobile_sale_small_04.jpg" alt=""></li>

            </ul>
            <img srcset="./img/mobile_sale_big.jpg 1x, ./img/mobile_sale_big@2x.jpg 2x" src="./img/mobile_sale_big.jpg"
                alt="">
        </div>
        <div class="sale-text">
            <h3 class="sale-text-subtitle">Greenlane Watch By Police For MenHT</h3>
            <span class="sale-text-text">Product tag: <span
                    class="sale-text-producttag sale-text-text">PEWJK2227003</span></span>
            <span class="sale-text-newcost">€700 <span class="sale-text-oldcost">€1000</span></span>

            <ul class="sale-list-text">
                <li class="sale-list-item">
                    <span class="sale-list-subtitle">Description</span>
                    <p class="sale-list-text-text">Richly detailed with an understated design - the Police Men’s
                        Greenlane
                        watch
                        features a versatile
                        multifunction design
                        that fits effortlessly into work and play. The steel case is adorned with a semi-transparent
                        black
                        dial. The timepiece
                        exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>

                </li>
                <li>
                    <span class="sale-list-subtitle">DETAILS & FEATURESTION</span>
                    <ul class="sale-list-characteristic">
                        <li class="sale-list-item-characteristic">
                            <p class="sale-text-characteristic">Gender: <span>man</span></p>
                        </li>
                        <li class="sale-list-item-characteristic">
                            <p class="sale-text-characteristic">Size: <span>46x54.5mm</span></p>
                        </li>
                        <li class="sale-list-item-characteristic">
                            <p class="sale-text-characteristic">Case Colour: <span>Steel</span></p>
                        </li>
                        <li class="sale-list-item-characteristic">
                            <p class="sale-text-characteristic">Band Material: <span>Metal</span></p>
                        </li>
                        <li class="sale-list-item-characteristic">
                            <p class="sale-text-characteristic">Case Material: <span>Metal</span></p>
                        </li>
                        <li class="sale-list-item-characteristic">
                            <p class="sale-text-characteristic">Features: <span>Multifunction</span></p>
                        </li>
                        <li class="sale-list-item-characteristic">
                            <p class="sale-text-characteristic">Water Resistant: <span>5 (ATM)</span></p>
                        </li>
                        <li>
                            <p class="sale-text-characteristic">Band Colour: <span>Steel</span></p>
                        </li>
                    </ul>

                </li>
            </ul>


        </div>
    </div>
</section>