/* Footer */

.section.footer {
    padding-bottom: 20px;
    background-color: #1E2827;
    
}

.foot-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-inner {
    color: var(--background-color);
    margin-bottom: 80px;
    
}

.footer-logo-link {
    

}

.foot-logo {
    background-color: var(--background-color);
    fill: ;
    
}
     

.footer-contacts {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 14px;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.02em;

}

.footer-address {
    width: 141px;
    
}

.footer-address-nav.foot-item {
    
    color: var(--background-color);
}

.foot-item:not(:last-child) {
    margin-bottom: 20px;
}

.foot-contact-link:hover,
.foot-contact-link:focus {
    color: #31D0AA;
    transition: color var(--animation-time) var(--transition-timing);
}

.footer-social-links {
    
}

.footer-soc-list {
    display: flex;
    
}

.footer-soc-item:not(:last-child) {
    margin-right: 14px;
}

.footer-soc-link {}

.footer-soc-icon {
    cursor: pointer;
    fill:;
    background-color: var(--background-color);
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    position: absolute;
    top: 0;
    right: 20px;
    margin: 0;

    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--background-color);

}

.footer-nav {}

.footer-site-nav {}

.foot-chapter {}

.foot-chapter:not(:last-child) {
    margin-bottom: 14px;
}

.foot-link {}

.foot-link:hover,
.foot-link:focus {
    color: #31D0AA;
    transition: color var(--animation-time) var(--transition-timing);
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #C6CDD1;

}

.foot-text {
    margin-bottom: 14px;
}

.footer-desc {
    display: flex;
    gap: 14px;
}

.footer-desc-item {}

.foot-desc-link {
    
}

.foot-desc-link:hover,
.foot-desc-link:focus {
    color: #31D0AA;
    transition: color var(--animation-time) var(--transition-timing);
}


.foot-desc-link {}



















