.sale.section{
    padding-top: 40px;
    padding-bottom: 80px;
}
.sale-titel{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--text-color);
    margin-bottom: 40px;
}

.sale-img{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.sale-list-item-img.test{
    width: 80px;
    height: 80px;
}
.test{
    background-image: url(../img/image_sale_smal.png);
    background-position: 50% 50%;
    background-color: var(--text-color);
}
.sale-list-img{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.sale-big-img{
    width: 235px;
}

.sale-text-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.sale-text-text{
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: var(--light-text-color);
    margin-bottom: 16px;
}

.sale-text-newcost{
    display: block;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

.sale-text-oldcost{
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: var(--light-text-color);
}

.sale-list-subtitle{
    display: flex;
    align-items: center;
        justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
font-size: 18px;
line-height: 1.33;
letter-spacing: -0.02em;
text-transform: uppercase;
margin-bottom: 17px;
}
.sale-list-subtitle::before {
    content: "";
    width: 335px;
    height: 1px;
    background-color: var(--text-color);
    
}

.sale-list-subtitle::after{
    content: "";
width: 16px;
height: 1px;
background-color: var(--text-color);

}

.sale-list-text-text{
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.01em;
color: var(--light-text-color);
}

.sale-list-item{
    margin-bottom: 40px;
}

.sale-text-characteristic{
    font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.01em;
        color: var(--light-text-color);
}

@media screen and (min-width: 768px){
.sale-img{
justify-content: center;
}

.sale-list-item-img.test{
    width: 146px;
    height: 146px;
    background-repeat: no-repeat;
}

.test {
    background-image: url(../img/image_sale_smal_tablet.png);
    background-position: 50% 50%;
    background-color: var(--text-color);
}

.sale-list-item-img img{
    width: 146px;
        height: 146px;
}

.sale-list-img~img{
    width: 406px;
    height: 614px;
}

.sale-text{
    padding-left: 66px;
    padding-right: 66px;
}

.sale-text-subtitle{
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.02em;
}

.sale-list-subtitle::before {
    content: "";
    width: 572px;
    height: 1px;
    background-color: var(--text-color);

}
}

@media screen and (min-width: 1280px) {
    .container {
            max-width: 1216px;
        }
        .sale-titel{
            font-size: 40px;
            line-height: 1.1;
            letter-spacing: -0.02em;
            color: var(--primary-brand-color);
            margin-bottom: 80px;
        }
        .sale-img{
            margin-bottom: 0;
        }
        .sale-img-desctop{
            display: flex;
            gap:40px;
            justify-content: center;
        }

        .sale-text{
            width: 369px;
            padding-left: 0;
            padding-right: 0;
        }
}